*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.pdb
*.idb
*.ilk
*.old
build
Debug
*~
*.o
*.obj
*.out
*.bak
*.dep
*.lib
*.i
*.d
.DS_Stor*
.config 3
.config 4
.config 5
*.uimg
GPATH
GRTAGS
GTAGS
.vscode
JLinkLog.txt
JLinkSettings.ini
DebugConfig/
RTE/
settings/
*.uvguix*

# cubemx/*
cubemx/Drivers/*
cubemx/EWARM/*
.settings/language.settings.xml
cubemx/Src/main.c

# 保留 bootload_exe/03-APPtest 目录下的 .hex 文件  
!bootload_exe/03-APPtest/*.hex
